.about {
    display: table;
    height: 100%;
    min-height: 100%;
    text-align: justify;
    margin: 0px;
    padding: 1em;
}

.about .software {
    display: flex;
    align-items: center;
}

/*
 * Flex not supported well by IE11, use inline-block instead
 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .about .software {
        display: inline-block;
    }
}

.about .software img {
    width: 100%;
}
